@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;600&family=Open+Sans:wght@300&family=Sansita+Swashed:wght@400;500;600;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(213, 225, 241);
    box-sizing: border-box;
    font-family: 'Sansita Swashed', cursive;
}

.title {
    padding-top: 10px;
}

.title p {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 40px 0;
    gap: 20px;
    justify-content: center;
}

.box-container .box {
    padding: 10px;
    cursor: pointer;
}

.box-container .box:hover {
    box-shadow: 4px 2px 5px 8px rgba(73, 133, 182, 0.8);
    transition: all 1s ease-out;
}

.box-container .image-film img {
    width: 250px;
    height: 350px;
}

.next-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 23px;
    padding-bottom: 10px;
    color: rgb(116, 113, 113);
}

.next-page .open-page {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}

.next-page .open-page:hover {
    background-color: rgba(73, 133, 182, 0.8);
    color: rgb(19, 18, 18);
    transition: all 0.5s ease-out;
}