* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(213, 225, 241);
}

.title {
    padding-top: 10px;
}

.title h1 {
    text-align: center;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 40px 0;
    gap: 20px;
    justify-content: center;
}

.box-container .box {
    padding: 10px;
    cursor: pointer;
}

.box-container .box:hover {
    box-shadow: 4px 2px 5px 8px rgba(73, 133, 182, 0.8);
}

.box-container .image-film img {
    width: 250px;
    height: 350px;
}